# Ignore every dotfile and dotfolder (.vs, .vsconfig, .idea, .lore, ...)
.*
!.gitignore

# Unreal build output
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/

# Built data for maps
*_BuiltData.uasset
